.sidebar {
  width: 140px;
  background: #d8c690;
  border: 4px solid #2a1e1e;
  box-shadow: 6px 6px 0 #2a1e1e;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-content: center;
  margin-left: 10rem;
  /* border-radius: 30px; */
  height: 50%;
  width: 30%;
  gap: 50px; 
  /* padding-left: 0rem; */
}

.spam-btn {
  font-family: 'Press Start 2P', monospace;
  background: #c1662b;
  border: 3px solid #2a1e1e;
  padding: 10px 8px;
  color: #ECE6C2;               
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 12px;
  text-shadow: 1px 1px 0 #000; 
  height: 70px;
  display: flex;              
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;      
  }

.fake-btn {
  font-family: 'Press Start 2P', monospace;
  background: #065f46;
  border: 3px solid #2a1e1e;
  padding: 10px 8px;
  color: #ECE6C2;               
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 12px;
  text-shadow: 1px 1px 0 #000; 
  height: 70px;
  display: flex;              
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;      
  }

.hate-btn {
  font-family: 'Press Start 2P', monospace;
  background: #D2A24C;
  border: 3px solid #2a1e1e;
  padding: 10px 8px;
  color: #ECE6C2;               
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 12px;
  text-shadow: 1px 1px 0 #000; 
  height: 70px;
  display: flex;              
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;      
  }

/* 
.sidebar button {
  font-family: 'Press Start 2P', monospace;
  background: #c1662b;
  border: 3px solid #2a1e1e;
  padding: 10px 8px;
  color: #ECE6C2;               
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 12px;
  text-shadow: 1px 1px 0 #000; 
  height: 70px;
  display: flex;              
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;      
} */

.hate-btn:hover {
  background: #eec77e;
}

.fake-btn:hover {
  background: #0b7a5c;
}

.spam-btn:hover {
  background: #e07a2f;
}

.spam-btn, .fake-btn, .hate-btn:active {
  transform: translateY(2px);
}
